---
import Layout from "../../layouts/Layout.astro";
import CardFounder from "../../components/CardFounder.astro";
import PhilosophyCards from "../../components/PhilosophyCards.astro";
import { SITE_TITLE, TEAM_MEMBERS } from "../../consts";
import { useTranslations, getLangFromUrl } from "../../i18n/translate";
import Values from "../../components/Values.astro";
import Purpose from "../../components/Purpose.astro";
export function getStaticPaths() {
    return [
        {
            params: { lang: "es" },
        },
        {
            params: { lang: "en" },
        },
    ];
}
const t = useTranslations(getLangFromUrl(Astro.url));
---

<Layout title={`${t("about.title")} - ${SITE_TITLE}`} description={t("about.description") as string}>
    <main style="position: relative;">
        <div class="container">
            <h1 class="title">{t("about.title")} - <span>CROBF</span></h1>
            <p set:html={t("about.welcome")} />
            <h2 class="whoWeAre">{t("about.whoWeAre.title")}</h2>
            <p set:html={t("about.whoWeAre.description")} />
            <div class="cards">
                <CardFounder
                    name={TEAM_MEMBERS.Juan.fullName}
                    image={TEAM_MEMBERS.Juan.logo}
                    github={TEAM_MEMBERS.Juan.gitHub}
                    linkedin={TEAM_MEMBERS.Juan.linkedin}
                    link={TEAM_MEMBERS.Juan.link}
                    profession={TEAM_MEMBERS.Juan.profession}
                    description={TEAM_MEMBERS.Juan.description}
                />
                <CardFounder
                    name={TEAM_MEMBERS.Ezequiel.fullName}
                    image={TEAM_MEMBERS.Ezequiel.logo}
                    github={TEAM_MEMBERS.Ezequiel.gitHub}
                    linkedin={TEAM_MEMBERS.Ezequiel.linkedin}
                    link={TEAM_MEMBERS.Ezequiel.link}
                    profession={TEAM_MEMBERS.Ezequiel.profession}
                    description={TEAM_MEMBERS.Ezequiel.description}
                />
                <CardFounder
                    name={TEAM_MEMBERS.Lautaro.fullName}
                    image={TEAM_MEMBERS.Lautaro.logo}
                    github={TEAM_MEMBERS.Lautaro.gitHub}
                    linkedin={TEAM_MEMBERS.Lautaro.linkedin}
                    link={TEAM_MEMBERS.Lautaro.link}
                    profession={TEAM_MEMBERS.Lautaro.profession}
                    description={TEAM_MEMBERS.Lautaro.description}
                />
                <CardFounder
                    name={TEAM_MEMBERS.Sofia.fullName}
                    image={TEAM_MEMBERS.Sofia.logo}
                    github={TEAM_MEMBERS.Sofia.gitHub}
                    linkedin={TEAM_MEMBERS.Sofia.linkedin}
                    link={TEAM_MEMBERS.Sofia.link}
                    profession={TEAM_MEMBERS.Sofia.profession}
                    description={TEAM_MEMBERS.Sofia.description}
                />
                <CardFounder
                    name={TEAM_MEMBERS.Julieta.fullName}
                    image={TEAM_MEMBERS.Julieta.logo}
                    github={TEAM_MEMBERS.Julieta.gitHub}
                    linkedin={TEAM_MEMBERS.Julieta.linkedin}
                    link={TEAM_MEMBERS.Julieta.link}
                    profession={TEAM_MEMBERS.Julieta.profession}
                    description={TEAM_MEMBERS.Julieta.description}
                />
                <CardFounder
                    name={TEAM_MEMBERS.Santiago.fullName}
                    image={TEAM_MEMBERS.Santiago.logo}
                    github={TEAM_MEMBERS.Santiago.gitHub}
                    linkedin={TEAM_MEMBERS.Santiago.linkedin}
                    link={TEAM_MEMBERS.Santiago.link}
                    profession={TEAM_MEMBERS.Santiago.profession}
                    description={TEAM_MEMBERS.Santiago.description}
                />
                <CardFounder
                    name={TEAM_MEMBERS.Paula.fullName}
                    image={TEAM_MEMBERS.Paula.logo}
                    github={TEAM_MEMBERS.Paula.gitHub}
                    linkedin={TEAM_MEMBERS.Paula.linkedin}
                    link={TEAM_MEMBERS.Paula.link}
                    profession={TEAM_MEMBERS.Paula.profession}
                    description={TEAM_MEMBERS.Paula.description}
                />
                <p set:html={t("about.team.values")} />

                <h2 class="philosophy">{t("about.philosophy.title")}</h2>
                <p set:html={t("about.philosophy.description")} />
                <PhilosophyCards />
                <p class="motto" set:html={t("about.philosophy.motto")} />

                <h2 class="values" set:html={t("about.values.title")} />
                <Values />
                <h2 class="purpose" set:html={t("about.purpose.title")} />
                <Purpose />
                <p set:html={t("about.purpose.summary")} />

                <h2 class="future" set:html={t("about.vision.title")} />
                <p set:html={t("about.vision.description")} />
                <div class="divcontact">
                    <h2 class="contact" set:html={t("about.contact.title")} />
                    <p set:html={t("about.contact.description")} />
                </div>
            </div>
        </div>
    </main>
</Layout>
<style>
    .motto {
        color: var(--accent);
        font-size: 30px;
    }
    .title {
        font-size: 40px;
    }
    .title span {
        color: var(--accent);
    }
    .philosophy {
        font-size: 36px;
        text-align: left;
        width: 100%;
    }
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }
    .values {
        width: 100%;
        font-size: 36px;
    }
    .purpose {
        width: 100%;
        font-size: 36px;
    }
    .future {
        width: 100%;
        font-size: 36px;
    }

    .divcontact {
        border: solid 3px blue;
        border-radius: 40px;
        padding: 10px;
    }
    @media (width <= 37.5rem) {
        .cards {
            margin-top: 4em;
        }
    }
    @media (width <= 27.5rem) {
        .cards {
            margin-top: 5em;
        }
    }
</style>
