---
import Layout from "../../layouts/Layout.astro";
import { SITE_DESCRIPTION, TEAM_MEMBERS } from "../../consts";
import { useTranslations, getLangFromUrl } from "../../i18n/translate";
import FormContact from "../../components/FormContact.astro";
const FOUNDERS = Object.values(TEAM_MEMBERS).sort((a, b) => a.index - b.index);
const t = useTranslations(getLangFromUrl(Astro.url));
const lang = getLangFromUrl(Astro.url);
export function getStaticPaths() {
    return [
        {
            params: { lang: "es" },
        },
        {
            params: { lang: "en" },
        },
    ];
}
---

<Layout title="CROBF - Equipo de desarrollo" description={SITE_DESCRIPTION}>
    <main>
        <h1>
            {t("index.welcome")}
            <span>
                {FOUNDERS.map((founder) => <a href={`/${lang}${founder.link}`}>{founder.fullName.at(0)}</a>)}
            </span>
        </h1>
        <p set:html={t("index.description")} />
        <p set:html={t("index.mission")} />
        <p set:html={t("index.about")} />
        <p set:html={t("index.offer")} />
        <ul>
            {(t("index.services") as string[]).map((service) => <li set:html={service} />)}
        </ul>
        <p>
            {t("index.cta")}
        </p>
        <FormContact />
    </main>
</Layout>
<style>
    h1 span {
        border-bottom: 5px solid var(--accent);
    }

    h1 span a {
        display: inline-block;
        text-decoration: none;
        color: var(--black);
        transition: transform 0.2s ease;
    }

    h1 span a:hover {
        color: var(--accent-dark);
        transform: scale(1.1);
    }

    @media (max-width: 800px) {
        h1 {
            font-size: 3rem;
            text-wrap: balance;
            text-align: center;
        }
    }
</style>
