---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import Layout from "./Layout.astro";

type Props = Omit<CollectionEntry<"blog">["data"], "pubDate" | "updatedDate"> & {
    pubDate?: Date;
    updatedDate?: Date;
};
const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<Layout title={title} description={description}>
    <main>
        <article>
            <div class="hero-image">
                {heroImage && <img width={1020} height={510} src={heroImage} alt="" />}
            </div>
            <div class="prose">
                <div class="title">
                    <div class="date">
                        {pubDate && <FormattedDate date={pubDate} />}
                        {
                            updatedDate && (
                                <div class="last-updated-on">
                                    Last updated on <FormattedDate date={updatedDate} />
                                </div>
                            )
                        }
                    </div>
                    <h1>{title}</h1>
                    <hr />
                </div>
                <slot />
            </div>
        </article>
    </main>
    <style>
        main {
            width: calc(100% - 2em);
            max-width: 100%;
            margin: 0;
        }
        .hero-image {
            width: 100%;
        }
        .hero-image img {
            display: block;
            margin: 0 auto;
            border-radius: 12px;
            box-shadow: var(--box-shadow);
        }
        .prose {
            width: 800px;
            max-width: calc(100% - 2em);
            margin: auto;
            padding: 1em;
            color: rgb(var(--gray-dark));
            line-height: 2rem;
        }
        html.dark .prose {
            color: rgb(var(--white)) !important;
        }
        .title {
            margin-top: 1em;
            text-align: center;
            line-height: 1;
        }
        .title h1 {
            margin: 0;
        }
        .date {
            margin-bottom: 0.5em;
            color: rgb(var(--gray));
        }
        html.dark .date {
            color: rgb(var(--white)) !important;
        }
        .last-updated-on {
            font-style: italic;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin: 2rem 0 !important;
            text-wrap: balance;
            word-wrap: normal;
            overflow-wrap: break-word;
        }

        @media (max-width: 800px) {
            h1 {
                font-size: 2.5rem;
            }
            h2 {
                font-size: 2.2rem;
            }
            h3 {
                font-size: 1.8rem;
            }
            h4 {
                font-size: 1.5rem;
            }
            h5 {
                font-size: 1.2rem;
            }
            h6 {
                font-size: 1.1rem;
            }
        }
    </style>
</Layout>
